.home-page{
    align-items: baseline;
    
    .home-page-container{
        text-align: center;
        margin-top: 5vh;

        img{
            width: 100%;
            height: 500px;
        }

        h1{
            font-size: 4rem;
            font-weight: 700;
        }
    
        h2{
            margin-top: 1rem;
            font-size: 2rem;
        }
    
        .home-page-link{
            text-decoration: underline;
            color: $skyBlue;
            font-size: 1.8rem;
        }
    }

}