@font-face {
    font-family: Rubik-Regular;
    src: url(../../assets/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik-Bold;
    src: url(../../assets/fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik-Maze;
    src: url(../../assets/fonts/RubikMaze-Regular.ttf);
}